.ViewPopup{

    min-width: 200px;
    max-width: 350px;

}

.ViewPopup .ViewPopupContainer{
    width: 100%;
    height: 100%;
}

.ViewPopup .ViewPopupContainer .PopupTitle{
    font-size: larger;
    width: 100%;
    padding: 12px 0 0 0;
    text-align: left;
    font-weight: bold;
    
}


.ViewPopup .ViewPopupContainer .PopupContent{ 
    width: 100%;
    margin: 12px 0px 24px 0px;
    overflow-y: scroll;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 211, 68) rgb(218, 218, 218);
    padding-right: 12px;
}


.ViewPopup .ViewPopupContainer .PopupContent img{ 
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.ViewPopup .ViewPopupContainer .PopupContent figure{
        margin:0
}    

.ViewPopup .ViewPopupContainer .PopupContent p{
    margin-top: 0;
    margin-bottom: 0.5em;
}

.ViewPopup .popUpSpace{
    display:inline-block;
    min-width: 0.5em;
}